include _mixins
section(data-matching-link="#portfolio-link" id="portfolio").section.section--dark
    .section__header
        .container
            h2.section__title.section__title--white portfolio
            ul.filters
                - var filters = [{name: 'all', label: 'all'}, {label: 'illustration', name: 'illustration' }, {name: 'digital_art', label: 'digital art'}, {name: 'web_design', label: 'web design'}]
                each item, index in filters
                    li.filters__item(class=index === 0 ? 'filters__item--active' : '')
                        a.filters__link(href="#" data-filter=item.name) #{item.label}
    .section__content
        .portfolio
            - 
                var portfolioArr = [
                    {
                        index: 1,
                        filter:  'illustration'
                    },
                    {
                        index: 2,
                        filter:  'web_design',
                        big: true
                    },
                    {
                        index: 3,
                        filter:  'web_design'
                    },
                    {
                        index: 4,
                        filter:  'illustration'
                    },
                    {
                        index: 5,
                        filter:  'web_design'
                    },
                    {
                        index: 6,
                        filter:  'digital_art'
                    },
                    {
                        index: 7,
                        filter:  'digital_art'
                    },
                    {
                        index: 8,
                        filter:  'digital_art',
                        big: true
                    },
                ]
            each item in portfolioArr
                .portfolio__item(data-filter-value=item.filter class=item.big ? 'portfolio__item--big' : '') 
                    .portfolio__image(style="background-image: url('assets/images/portfolio/portfolio" + item.index +".jpg')")
                    .portfolio__item-overlay
                        span.portfolio__item-plus +
                        .portfolio__item-title design name
.divider.divider--red
        hr.divider__hr
        +icon('shape')                
                                              

